/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

h1 {
    text-align: center;
}

#game-board {
    margin: 0 auto;
    width: 520px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #000;
}

.cell {
    width: 20px;
    height: 20px;
    outline: 1px solid #ddd;
    background: #fff;
}

.black {
    background: black;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.orange {
    background: orange;
}
